.todoItem {
  height: 40px;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid lightblue;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    background-color: #eff6fd;
  }
}

.todoItemCompleted {
  color: #888888;
  background-color: #ddd;

  &:hover {
    background-color: #ddd;
  }
}

.todoItemTitle {
  white-space: nowrap;
  margin-right: 8px;
}

.todoItemDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todoItemCheckbox {
  margin-left: auto;
}